.tutorial {
  text-align: justify;
  padding: 0.5em;
  line-height: 1.75rem;
}

.frame {
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.imgPara {
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tutorial img {
  width: 98%;
  margin: auto;
  border: 1px solid #888;
}

.pImgC {
  text-align: center;
}

.imgCenter {
  width: fit-content !important;
  max-width: 98%;
  margin-right: auto !important;
  margin-left: auto !important;
  border: 0px solid #FFF !important;
}

.imgSVG {
  width: fit-content !important;
  margin-right: auto !important;
  margin-left: 0px !important;
  border: 0px solid #FFF !important;
}

.mt-2 {
  margin-top: 0.5em;
}

.block3events {
  background-color: #ffbf00;
  padding: 3px;
  color: white !important;
  border-radius: 3px;
  padding-left: 4px;
  padding-right: 4px;
}

.block3motion {
  background-color: #4c97ff;
  padding: 3px;
  color: white !important;
  border-radius: 3px;
  padding-left: 4px;
  padding-right: 4px;
}

body {
  background-color: hsla(215, 100%, 65%, 0.15);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: hsla(225, 15%, 40%, 1);
}

.vidcontainer {
  display: flex;
  justify-content: center;
}

.vidcontent {
  object-fit: cover;
  height: 90%;
  width: 90%;
}

a, button, input {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}

#readAloud {
  width: 1.5rem;
  height: 1.5rem;
  border: 0px #FFF solid !important;
  float: right;
  cursor: pointer;
}

.readAloudContainer {
  width: 100%;
}

.pushUp {
  margin-top: 0.5rem;
}